{% set pubs = load_data(path="papers.json") %}

<ul class="publications">
  {% for pub in pubs %}
    <li class="publication">
      <div class="pub-title">{{ pub.title }}</div>
      <div class="pub-authors">
        {{ pub.author | join(sep=", ") }}
        {% if pub.venue %} · <span class="pub-venue">{{ pub.venue }}</span>{% endif %}
        <span class="pub-year">({{ pub.year }})</span>
      </div>

      <div class="pub-links">
        {% if pub.url %}
          <a class="pub-badge" href="{{ pub.url }}"><img src="https://img.shields.io/badge/paper-0b7285.svg?style=flat-square&logo=readme&logoColor=white" alt="Paper"></a>
        {% endif %}
        {% if pub.arxiv %}
          <a class="pub-badge" href="{{ pub.arxiv }}"><img src="https://img.shields.io/badge/arxiv-B31B1B.svg?style=flat-square&logo=arxiv&logoColor=white" alt="arXiv"></a>
        {% endif %}
        {% if pub.acl %}
          <a class="pub-badge" href="{{ pub.acl }}"><img src="https://img.shields.io/badge/acl%20anthology-2c3e50.svg?style=flat-square&logo=academia&logoColor=white" alt="ACL"></a>
        {% endif %}
        {% if pub.scholar %}
          <a class="pub-badge" href="{{ pub.scholar }}"><img src="https://img.shields.io/badge/google%20scholar-4285F4.svg?style=flat-square&logo=googlescholar&logoColor=white" alt="Scholar"></a>
        {% endif %}
        {% if pub.github %}
          <a class="pub-badge" href="{{ pub.github }}"><img src="https://img.shields.io/badge/github-181717.svg?style=flat-square&logo=github&logoColor=white" alt="GitHub"></a>
        {% endif %}
        {% if pub.twitter %}
          <a class="pub-badge" href="{{ pub.twitter }}"><img src="https://img.shields.io/badge/twitter%20thread-1DA1F2.svg?style=flat-square&logo=twitter&logoColor=white" alt="Twitter"></a>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
