<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>{{ section.title }}</title>
  <link rel="stylesheet" href="/styles.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Inter&display=swap" rel="stylesheet">

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LR0EJ3GEF4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LR0EJ3GEF4');
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ section.title }}</title>
  </head>
  <body>
    <main>
      <div class="content-box">
      {{ section.content | safe }}
      </div>
    </main>
  </body>
</html>
